@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    background: #0a0f1f;
    color: white;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}


.title{
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 30px 0;
}



.design-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}




@media (max-width: 600px){
.design-container{
    flex-direction: column;
}

}

@media(min-width: 601px) and (max-width: 1000px){
.design-container{
    justify-content: space-between;
     gap: 2rem !important;
}

}
