.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.app-logo{
    height: 30px;
    width: clamp(80px, 15vw, 180px); /* responsive logo */
    flex-shrink: 1;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown button{
    background: #1e2540;
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    gap: clamp(5px, 1.2vw , 10px);
    padding: 5px 10px;
    font-size: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    height: 40px;
    width: clamp(60px, 10vw, 95px);
    flex-shrink: 1;
    box-sizing: border-box;
}
.dropdown button .settings{
   width: clamp(8px, 1.5vw, 16px);
}
.dropdown button p {
  font-size: clamp(0.6rem, 1.5vw, 0.9rem); /* responsive font size */
  white-space: nowrap; 
}

.units .dropdown-arrow{
    margin-left: auto;
    width: clamp(5px, 1.5vw, 15px);  
    height: auto;                   
    flex-shrink: 0;   
}



.dropdown-content{
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    min-width: clamp(100px, 30vw, 180px);
    background:#1e2540;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.5);
    z-index: 100;
}

.dropdown-title{
    border-radius: 4px;
    padding: 6px 10px;
    background: #2a3144;
    font-size: 0.85rem;
}

.dropdown-content .title{
    font-size: 0.85rem;
    color: #ccc;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.dropdown-content .group {
    margin-bottom: 15px;
}

.dropdown-content .group p{
    font-size: 0.8rem;
    color: #aaa;
    margin: 8px 0;
}
.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content li:hover {
    background: #2a3144;
}

.dropdown-content li.active {
    font-weight: bold;
    background: #2a3144;
    font-size: 0.9rem;
} 

.dropdown.open .dropdown-content{
  display: block;
}


.dropdown-content li img{
    width: 12px;
    height: 12px;
}

