.loading .skeleton-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
  height: 100px; 
  flex: 1;
}



.loading .skeleton-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.loading .skeleton-temp {
  display: flex;
  align-items: center;
  gap: 10px;
}


@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}

.loading .skeleton {
  background: linear-gradient(90deg, #2b2b2b 25%, #3a3a3a 37%, #2b2b2b 63%); 
  background-size: 400% 100%;
  animation: shimmer 1.3s infinite;
  border-radius: 6px;
}




.loading .weater-params {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  z-index: 100;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.5);
  gap: 10px;
  background: rgba(255, 255, 255, 0.05); 
  flex:1;
   align-items: center;
}

.loading .weater-params p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #ccc;
  text-align: center;
}

.loading .skeleton-text{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}

.loading .daily-forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 10px;
}

.loading .forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background:  rgba(255, 255, 255, 0.05);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 12px;
  flex: 1;
   height: 80px;
}




.loading .hourly-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  min-width: 90px;
}

.loading .hourly-skeleton {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 12px;
  padding: 10px;
   height: 27px;
  margin: 5px;
  gap: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}


.loading .right-design{
    width: 400px;
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 12px;
    padding: 1rem;
    flex: 1;
}

@media (max-width: 600px){
  .loading .left-design{
    width: 100% !important;
    box-sizing: border-box;
}
}



@media (max-width: 800px){
  .loading .params-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
.loading .daily-forecast-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}


@media(min-width: 801px) and (max-width: 1000px){
.loading .params-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
  .loading .daily-forecast-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}
}

@media(min-width: 1001px) and (max-width: 1400px){
     .loading .daily-forecast-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
}
}


@media(min-width: 601px) and (max-width: 1000px){
.loading .right-design{
    width: 50% !important;
    box-sizing: border-box;
}
}
@media(min-width: 1001px){
  .loading .right-design{
    width: 35% !important;
    box-sizing: border-box;
}
}