


.weather-card {          
  position: relative;
}


.weather-content {
  height: auto;  
  display: flex;
  background: url("/weather-app-main/assets/images/bg-today-large.svg") no-repeat center/cover;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  color: white;
}

.weather-info h2 {
  margin: 0;
  font-weight: bold;
  font-size: clamp(20px, 1.5vw, 25px);

}

.weather-info p {
  margin: 4px 0 0;
  font-size: 18px

}

.weather-temp {
  display: flex;
  align-items: center;
  gap: clamp(5px, 0.5vw, 10px);
}

.weather-temp h1 {
  font-size: clamp(40px, 4vw, 80px);
  font-weight: bold;
  margin: 0;
}

.weather-icon {
  width: clamp(50px, 10vw, 100px);
  height: auto;
}


@media (max-width: 600px){
.left-design{
    width: 100% !important;
    box-sizing: border-box;
}

.weather-card{
   
    width: 100% !important;
    
}


.weather-content{
    background: url("/weather-app-main/assets/images/bg-today-small.svg") no-repeat center/cover;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px 0px;
    width: 100% !important;
}

}


@media(min-width: 601px) and (max-width: 1000px){

.weather-content{
    width: 100% !important;
    box-sizing: border-box;
    flex: 1;
}
 .weather-info h2{
        font-size: clamp(9px, 1.5vw, 18px)
    }
    .weather-info p {
         font-size: clamp(8px, 1.5vw, 15px);
    }
}



